<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <jmxConfigurator/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <property name="LOG_FILE_PREFIX" value="/opt/deploy-jars/logs/${springAppName}/${springAppName}"/>​
    <property name="LOG_FILE_ERROR_PREFIX" value="/opt/deploy-jars/logs/${springAppName}/${springAppName}-error"/>​
    <property name="PARAM-RETVAL" value="param-retval"/>

    <appender name="PARAM-RETVAL-PRINTER_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PREFIX}-${PARAM-RETVAL}.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%date][%5level][][%thread][%X{X-B3-TraceId:-}][%logger{10} %file:%line][%msg][%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PREFIX}-${PARAM-RETVAL}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <!--            <maxFileSize>50MB</maxFileSize> &lt;!&ndash;超过50MB生成一个新文件&ndash;&gt;-->
            <maxHistory>7</maxHistory><!--存7天-->
            <totalSizeCap>60GB</totalSizeCap><!--总日志大小-->
        </rollingPolicy>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_PREFIX}.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%date][%5level][][%thread][%X{X-B3-TraceId:-}][%logger{10} %file:%line][%msg][%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PREFIX}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>60GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_ERROR_PREFIX}.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%date][%5level][][%thread][%X{X-B3-TraceId:-}][%logger{10} %file:%line][%msg][%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_ERROR_PREFIX}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>60GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date][%level][][%thread][%X{X-B3-TraceId:-}][%logger{10} %file:%line][%msg][%X{X-B3-SpanId:-},%X{X-Span-Export:-}]%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="INFO" >
        <appender-ref ref="FILE" />
        <appender-ref ref="FILE-ERROR"/>
    </root>

    <logger name="PARAM-RETVAL-PRINTER">
        <appender-ref ref="PARAM-RETVAL-PRINTER_APPENDER" />
    </logger>

    <springProfile name="local">
        <root level="info">
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>
</configuration>